body{
	width: 100%;
	background-color: snow;
}

h1{

    font-family: "Times New Roman", Times, serif;
    color: black;
    text-align: center;
    font-size: 50px; 
    font-weight: normal;
    
}


nav ul {
	 margin-bottom: 10px;
	 overflow: hidden;
	 width: 100%;
	 display: table;
	background-image: linear-gradient( 109.6deg,  rgba(0,182,255,1) 11.2%, rgba(102,51,153,1) 91.1% );
}

li {
	float: left;
	display: table-cell;
}

li:hover {
	background-color: #5A5A97;
}
li a{
 
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
}


h2{
	font-family: Vivaldi, "Brush Script", fantasy;
    color: black;
    text-align: center; 
    font-size: 40px; 
    font-weight: normal;
}

/*text */
p{
	font-family: "Times New Roman", Times, serif;
    color: black;
    text-align: center; 
}

